body {
	background-image: url('https://files.slack.com/files-pri/T02D02A55-F3EDLRB0C/spanish_x_backgrnd.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.log-in a {
	position: absolute;
	right: 8px;
	top: 8px;
}

h1 {
	color: red;
}

p {
	color: blue;
}