body {
	background-image: url('../assets/background2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.log-in a {
	position: absolute;
	right: 10px;
	top: 5px;
}

h1 {
	text-align: center;
	font-size: 100px;
	font-family: 'Life Savers', cursive;
}

h3 {
	font-size: 50px;
	text-align: center;
	font-family: 'Life Savers', cursive;
}

.back-home {
	text-decoration: none;
}

p {
	color: blue;
}

.question-page {
	text-align: center;
}

.spanishWord {
	font-size: 75px;
	font-family: Arial;
	margin-top: 12%;
}

.outcome {
	margin-top: 2%;
	font-family: Arial;
	font-size: 24px;
}

input {
	font-size: 24px;
	border-radius: 8px;
	margin-top: 2%;
}

.score {
	margin-top: 3%;
	font-family: Arial;
	font-size: 24px;
}

.correct {
	float: left;
}

iframe {
	margin-top: 0%;
	width: 350px;
	height: 250px;
	border-radius: 12px;
}

.incorrect {
	float: right;
}

.spx {
	text-align: left;
	font-size: 28px;
	color: black;
	font-weight: bold;
	font-family: 'Life Savers', cursive;
	border: 2px solid black;
	border-radius: 8px;
	width: 130px;
	padding: 8px;
}

.spx:hover {
	background-color: #e9e0df;
}

.logout {
	position: absolute;
	top: 26px;
	right: 11px;
	border: 2px solid black;
	padding: 6px;
	border-radius: 8px;
}

.logout:hover {
	background-color: #e9e0df;
}

.logoutImg {
	width: 100px;
}

.welcome {
	margin-top: 15%;
}

.typewriter h1 {
	text-decoration: underline;
  	overflow: hidden;
  	border-right: .15em solid orange;
  	white-space: nowrap;
  	margin: 0 auto;
  	letter-spacing: .30em;
  	animation: 
   	 	typing 5.5s steps(40, end),
    	blink-caret .75s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}




